<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                <app-progresso></app-progresso>
            </div>
            <div class="col-sm-6">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <app-tentativas></app-tentativas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6>{{ instrucao}}</h6>
                <p>{{frases[0].fraseEng}}</p>

                <div class="mb-3">
                    <textarea 
                        class="form-control"  
                        rows="3"
                        (input)="atualizaResposta($event)"
                    ></textarea>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-primary">Verificar</button>
                </div>
            </div>
        </div>
    </div>
</div>

